DATABASE_URL="mysql://username:your_password@localhost:3306/event_db"
DATABASE_USER="your username"
DATABASE_PASSWORD="your password"
DATABASE_NAME="my-db"
# in local host is localhost. On docker network it should be mysql
DATABASE_HOST="localhost" 
DATABASE_PORT=3306
PORT=5000
NODE_ENV=development